<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Folder | <%= folder.name %></title>
  </head>
  <body>
    <h1><%= folder.name %></h1>
    <a href="/my-folders">Back to my folders</a>
    <h2>Files</h2>
    <% folder.files.forEach(function(file, fileIndex) { %>
    <div
      class="file"
      style="border: 1px solid; padding: 10px; margin-bottom: 20px"
    >
      <% const urlParts = file.split("/"); %> <% const fileName =
      urlParts[urlParts.length - 1]; %>

      <p class="name"><%= fileName %></p>
      <div class="file-actions">
        <a href="/my-folders/<%= folder.id %>/file/<%= fileIndex %>"
          >More info</a
        >
        <a href="<%= file %>" target="_blank" style="margin-left: 10px" download
          >Download</a
        >
      </div>
    </div>
    <% }); %>
  </body>
</html>
